
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- Bootstrap CSS -->
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>

	<link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
	<title>Property</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css'>
	<link rel='stylesheet' href='https://cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css'>
	<style>
		.modal-backdrop {
			z-index: 0 !important;
		}
		body { 
			font-size: 140%; 
		}

		h2 {
			text-align: center;
			padding: 20px 0;
		}

		table caption {
			padding: .5em 0;
		}

		table.dataTable th,
		table.dataTable td {
			white-space: nowrap;
		}

		.p {
			text-align: center;
			padding-top: 140px;
			font-size: 14px;
		}
		img {
			width: 50px;
		}
	</style>
	<script>
		window.console = window.console || function(t) {};
	</script>
	<script>
		if (document.location.search.match(/type=embed/gi)) {
			window.parent.postMessage("resize", "*");
		}
	</script>
</head>
<body translate="no">
	<div class="container">
		<div style="padding-top: 20px">
			
			<a class="pull-right  btn btn-primary " data-toggle="modal" data-target="#add-property" style="margin-top:40px">Add Property</a>
		</div>
		<h2>Properties</h2>

		<div class="row">
			<div class="col-xs-12 table-responsive">
				<table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive">
					<caption class="text-center">List of all properties:</caption>
					<thead>
						<tr>
							<th>Image</th>
							<th>Uuid</th>
							<th>County</th>
							<th>Country</th>
							<th>Town</th>
							<th>Description</th>
							<th>Displayable Addresss</th>
							<th>Number of bedrooms</th>
							<th>Number of bathrooms</th>
							<th>Price</th>
							<th>Property type</th>
							<th>Property status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for property in properties %}
						<tr>
							<td> <image src= "{{ property.image_url }}" /> </td>
							<td>{{ property.uuid }}</td>
							<td>{{ property.county }}</td>
							<td>{{ property.country }}</td>
							<td>{{ property.town }}</td>
							<td>{{ property.description }}</td>
							<td>{{ property.displayable_addresss }}</td>
							<td>{{ property.number_of_bedrooms }}</td>
							<td>{{ property.number_of_bathrooms }}</td>
							<td>{{ property.price }}</td>
							<td>
								{% for type in propertyTpes %}
								{%- if property.property_type_id == type.id -%} 
								{{ type.title }}
								{% set break = true %}
								{%- endif -%}
								{% endfor %}
							</td>
							<td> {%- if property.property_status == 1 -%} 
								For Sale 
								{%- else -%}
								For Rent
							{%- endif -%}</td>
							<td>
								<a class="btn btn-primary" " data-toggle="modal" data-target="#edit-property "href="/edit/{{property.uuid}}"> Edit</a> 
								<a class="btn btn-danger" href="/delete/{{ property.uuid }}"> Delete</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<p class="p">Demo by George Martsoukos. <a href="http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions" target="_blank">See article</a>.</p>
	<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js'></script>
	<script src='https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js'></script>
	<script src='https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js'></script>
	<script id="rendered-js">
		$('table').DataTable();
	</script>
	
	<div class="modal fade" id= "add-property"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

		<div class="modal-dialog">

			<!-- Modal Content: begins -->
			<div class="modal-content" style="z-index: 1000000000000000">

				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gridSystemModalLabel">Property</h4>
				</div>

				<!-- Modal Body -->  
				<div class="modal-body">
					<div class= "body-content">
						<form method="post" action="add">
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputCounty">County</label>
									<input type="text" class="form-control" id="inputCounty" name="county" placeholder="Enter a County">
									<div class="invalid-feedback">
										Please enter a valid County
									</div>
								</div>
								<div class="form-group col-md-4">
									<label for="inputCountry">Country</label>
									<input type="text" class="form-control" id="inputCountry" name="country"  placeholder="Enter a Country">
									<div class="invalid-feedback">
										Please enter a valid Country
									</div>
								</div>
								<div class="form-group col-md-4">
									<label for="inputTown">Town</label>
									<input type="text" class="form-control" id="inputTown" placeholder="Enter a Town" name="town" >
									<div class="invalid-feedback">
										Please enter a valid Town
									</div>
								</div>
							</div>

							<div class="form-group col-md-12">
								<label for="inputDescription">Description</label>
								<textarea class="form-control" id="inputDescription" name="description"  placeholder="Required example description" required></textarea>
								<div class="invalid-feedback">
									Please enter a message in the textarea.
								</div>
							</div>

							<div class="form-group col-md-12">
								<label for="inputAddress">Address</label>
								<input type="text" class="form-control" id="inputAddress"  name="displayable_addresss" placeholder="1234 Main St">
								<div class="invalid-feedback">
									Please Enter a valid Address
								</div>
							</div>

							<div class="form-group">
								<label for="exampleFormControlFile1">Image Upload</label>
								<input type="file" class="form-control-file" id="exampleFormControlFile1" name="image_url" >
							</div>

							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputNumberofBeds">Number of Bedrooms</label>
									<select id="inputNumberofBeds" class="form-control" name="number_of_bedrooms">
										<option selected>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label for="inputNumberofBaths">Number of Bathrooms</label>
									<select id="inputNumberofBathrooms" class="form-control" name="number_of_bathrooms">
										<option selected>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label for="inputPrice">Price</label>
									<input type="number" class="form-control" id="inputPrice" placeholder="Enter a Price" name="price">
									<div class="invalid-feedback">
										Please enter a valid Price
									</div>
								</div>


								<div class="form-group col-md-6">
									<label for="inputPropertyType">Property Type</label>
									<select id="inputPropertyType" class="form-control" name="property_type_id">
										<option selected>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<label for="inputPropertyStatus">Property Status</label>
									<select id="inputPropertyStatus" class="form-control" name="property_status">
										<option selected>Sale</option>
										<option>Rent</option>
									</select>
								</div>
							</div>


							<button type="submit" class="btn btn-primary">Submit</button>

						</form>
					</div>
				</div>
				<!-- Modal Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>

			</div>
			<!-- Modal Content: ends -->

		</div>

	</div>


  <!--Modal for Editing--->
	<div class="modal fade" id= "edit-property"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

		<div class="modal-dialog">

			<!-- Modal Content: begins -->
			<div class="modal-content" style="z-index: 1000000000000000">

				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gridSystemModalLabel">Edit Property</h4>
				</div>

				<!-- Modal Body -->  
				<div class="modal-body">
					<div class= "body-content">
						<form method="post" action="edit">
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputCounty">County</label>
									<input type="text" class="form-control" id="inputCounty" name="county" placeholder="Enter a County">
									<div class="invalid-feedback">
										Please enter a valid County
									</div>
								</div>
								<div class="form-group col-md-4">
									<label for="inputCountry">Country</label>
									<input type="text" class="form-control" id="inputCountry" name="country"  placeholder="Enter a Country">
									<div class="invalid-feedback">
										Please enter a valid Country
									</div>
								</div>
								<div class="form-group col-md-4">
									<label for="inputTown">Town</label>
									<input type="text" class="form-control" id="inputTown" placeholder="Enter a Town" name="town" >
									<div class="invalid-feedback">
										Please enter a valid Town
									</div>
								</div>
							</div>

							<div class="form-group col-md-12">
								<label for="inputDescription">Description</label>
								<textarea class="form-control" id="inputDescription" name="description"  placeholder="Required example description" required></textarea>
								<div class="invalid-feedback">
									Please enter a message in the textarea.
								</div>
							</div>

							<div class="form-group col-md-12">
								<label for="inputAddress">Address</label>
								<input type="text" class="form-control" id="inputAddress"  name="displayable_addresss" placeholder="1234 Main St">
								<div class="invalid-feedback">
									Please Enter a valid Address
								</div>
							</div>

							<div class="form-group">
								<label for="exampleFormControlFile1">Image Upload</label>
								<input type="file" class="form-control-file" id="exampleFormControlFile1" name="image_url" >
							</div>

							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputNumberofBeds">Number of Bedrooms</label>
									<select id="inputNumberofBeds" class="form-control" name="number_of_bedrooms">
										<option selected>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label for="inputNumberofBaths">Number of Bathrooms</label>
									<select id="inputNumberofBathrooms" class="form-control" name="number_of_bathrooms">
										<option selected>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label for="inputPrice">Price</label>
									<input type="number" class="form-control" id="inputPrice" placeholder="Enter a Price" name="price">
									<div class="invalid-feedback">
										Please enter a valid Price
									</div>
								</div>


								<div class="form-group col-md-6">
									<label for="inputPropertyType">Property Type</label>
									<select id="inputPropertyType" class="form-control" name="property_type_id">
										<option selected>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<label for="inputPropertyStatus">Property Status</label>
									<select id="inputPropertyStatus" class="form-control" name="property_status">
										<option selected>Sale</option>
										<option>Rent</option>
									</select>
								</div>
							</div>


							<button type="submit" class="btn btn-primary">Submit</button>

						</form>
					</div>
				</div>
				<!-- Modal Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>

			</div>
			<!-- Modal Content: ends -->

		</div>

	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>

</body>
</html>
